@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/db00448b8596db6d-s.p.ttf) format("truetype");
    font-display: swap;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Plus_Jakarta_Sans;
    src: url(/_next/static/media/e1959c7b38a308e5-s.p.ttf) format("truetype");
    font-display: swap;
    font-style: italic
}

@font-face {
    font-family: Plus_Jakarta_Sans Fallback;
    src: local("Arial");
    ascent-override: 98.16%;
    descent-override: 20.99%;
    line-gap-override: 0.00%;
    size-adjust: 105.75%
}

.__className_627f4f {
    font-family: Plus_Jakarta_Sans, Plus_Jakarta_Sans Fallback
}